
<h1> Transactions for <%= user.username %> </h1>

  <div class="row">
    <div class="col">
        <p> Here are your transactions summarized by category </p>
        <a href="/transactions">Full Transaction List</a>
        <br>
        <table class="table table-bordered table-striped">
            <tr>
                <th>Category</th>
                <th>Total Amount</th>
            </tr>
            <% transactionsByCategory.forEach(item => { %>
                <tr>
                    <td><%= item._id %></td>
                    <td><%= item.totalAmount %></td>
                </tr>
            <% }) %>
        </table>
      </div>
    </div>
</div>
